/* Footer.css */
.footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .footer-section {
    display: flex;
    align-items: center;
  }
  
  .footer-link {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .social-icon img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  